/* HTML */

html {
    scroll-behavior: smooth;
    }

/* BODY */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    }

/* HEADER */

header {
    width: 60%;
    margin: 30px 0 0 0;
    }

header h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    color: #00008b;
    }

header #logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    }

header p {
    margin: 0 0 0 10px;
    padding: 0 0 5px 0;
}

header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    }

header li {
    color: 	#808080;
}

header nav a {
    text-decoration: none;
    color: #00008b;
}

header nav a:hover {
    color: #0000d8;
}

header .logo-subtitle {
    color: 	#808080;
}

/* MAIN */

main .text-grey {
    color: 	#808080;
}

main h2 {
    color: #00008b;
}

main .seccion {
    margin-bottom: 20px;
}

main .bio-header {
    display: flex;
    justify-content: start;
    margin-bottom: 1.5em;
}

main .bio-card {
    max-width: 50%;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

main .bio-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .bio-info p {
    text-align: center;
}

main .bio-card img {
    display: block;
    width: 100%;
    height: auto;
}

main .bio-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .bio-contact p {
    margin-top: 0;
    margin-bottom: 0;
}

main .bio-contact a {
    color: #00008b;
    text-decoration: none;
}

main .bio-contact a:hover {
    color: #0000d8;
}

main .bio-info {
    width: 50%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 60%;
}

main h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

main .proyecto {
    display: flex;
    margin-bottom: 1.5em;
}

main .texto-proyecto {
    position: relative;
}

main .proyecto img {
    max-width: 40%;
    transition: transform .2s;
    z-index: 1;
}

main .proyecto img:hover {
    transform: scale(1.25);
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.25);
}

main .proyecto .titulo-proyecto {
    padding-left: 20px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

main .proyecto .descripcion-proyecto {
    padding-left: 20px;
}

main .proyecto .link-proyecto {
    padding-left: 20px;
}

main .cv-row {
    display: flex;
    justify-content: space-between;
}

main #cv hr {
    margin-top: 1.5em;
}

main .cv-row-right {
    width: 60%;
}

main .cv-row-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .cv-row-left hr {
    margin-left: 0;
    margin-right: 300px;
}

main .cv-row-left p {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

main .cv-top {
    margin-top: 0;
}

main .cv-row-right p {
    padding-left: 20px;
}

main .cv-row-right hr {
    margin-left: 20px;
}

main .cv-right-title {
    display: flex;
    justify-content: flex-start;
}

main .cv-right-title .organizacion {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

main .cv-right-title .posicion {
    padding-left: 5px;
}

main .cv-right-title p {
    margin-bottom: 0;
}

main .fechas {
    margin-top: 5px;
    font-size: 11pt;
    color: 	#808080;
}

main .institucion {
    margin-top: 5px;
    margin-bottom: 0;
}

main a {
    text-decoration: none;
    color: #00008b;
}

main a:hover {
    color: #0000d8;
}

/* FOOTER */

footer {
    width: 60%;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: #00008b;
}

footer a:hover {
    color: #0000d8;
}

footer .text-grey {
    color: 	#808080;
}