/* MOBILE STYLE */

/* GENERAL STYLE RULES */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#main-content {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

hr {
    color: #808080;
    margin-top: 2em;
}

a {
    text-decoration: none;
    color: #00008b;
}

a:hover {
    color: #0000d8;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    color: #00008b;
}

h2 {
    color: #00008b;
    font-family: 'Roboto Condensed', sans-serif;
}

.text-grey {
    color: 	#808080;
}

/* HEADER + NAV */

.header-div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#nav-hamburguer {
    font-size: 3em;
    padding: 0 15px;
    border: solid 1px;
    border-radius: 5px;
    border-color: #808080;
    box-shadow: 1px 1px 1px  0 rgba(0, 0, 0, 0.1);
    display: block;
    cursor: pointer;
}

header #logo {
    display: flex;
    align-items: flex-end;
}

header p {
    margin: 0 0 0 10px;
    padding: 0 0 5px 0;
    color: 	#808080;
}

header nav {
    display: none;
}

header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin: 8px;
}

header .mobile-hide {
    color: 	#808080;
    display: none;
}

/* MAIN CONTENT || BIO */

main .seccion {
    margin-bottom: 20px;
}

main .bio-header {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .bio-info {
    display: flex;
    width: 100%;
}

main .bio-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 1em;
}

main .bio-contact p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

main #bio-text {
    width: 50%;
}

main .bio-card {
    width: 100%;
}

main img {
    display: block;
    width: 100%;
    height: auto;
}

/* MAIN CONTENT || PROYECTOS */

main .proyecto {
    margin-bottom: 1.5em;
}

main .proyecto .titulo-proyecto {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

/* MAIN CONTENT || CV */

main .cv-row-left hr {
    display: none;
}

main .cv-row-left p {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

main .cv-row-right hr {
    margin-top: 2em;
}

main .cv-right-title {
    display: flex;
    justify-content: flex-start;
}

main .cv-right-title .organizacion {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

main .cv-right-title .posicion {
    padding-left: 5px;
}

main .cv-right-title p {
    margin-bottom: 0;
}

main .fechas {
    margin-top: 5px;
    font-size: 11pt;
    color: 	#808080;
}

main .institucion {
    margin-top: 5px;
    margin-bottom: 0;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    margin-top: 5px;    
}

/* DESKTOP STYLE (JUST FOR TESTING - TO BE FIXED) */

@media only screen and (min-width: 768px) {

    /* BODY */

    body {
        width: 100%;
        display: flex;
        }

    #main-content {
        margin: 0;
        align-items: center;
    }

    /* HEADER + NAV */

    header {
        width: 90%;
        margin: 30px 0 0 0;
    }

    .header-div {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    header #logo {
        justify-content: flex-start;
    }

    header .mobile-hide {
        color: 	#808080;
        display: block;
    }

    header ul {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* MAIN */

    main {
        width: 90%;
    }

    main .bio-header {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 1.5em;
    }

    main .bio-card {
        max-width: 50%;
        padding-left: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
        order: 2;
    }

    main .bio-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 1;
    }

    main .bio-info p {
        text-align: center;
    }

    main .bio-card img {
        display: block;
        width: 100%;
        height: auto;
    }

    main .bio-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main .bio-contact p {
        margin-top: 0;
        margin-bottom: 0;
    }

    main #bio-text {
        width: 100%;
    }

    main .bio-info {
        width: 50%;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .proyecto {
        display: flex;
        margin-bottom: 1.5em;
    }

    main .texto-proyecto {
        position: relative;
    }

    main .proyecto-img-container {
        max-width: 40%;
        z-index: 1;
    }

    main .proyecto img {
        max-width: 100%;
        transition: transform .2s; 
    }

    main .proyecto img:hover {
        transform: scale(1.05);
        box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.25);
    }

    main .proyecto .titulo-proyecto {
        padding-left: 20px;
    }

    main .proyecto .descripcion-proyecto {
        padding-left: 20px;
    }

    main .proyecto .link-proyecto {
        padding-left: 20px;
    }

    main .cv-row {
        display: flex;
        justify-content: space-between;
    }

    main .cv-row-right {
        width: 60%;
    }

    main .cv-row-left {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    main .cv-row-left hr {
        display: block;
        margin-left: 0;
        margin-right: 300px;
    }

    main .cv-top {
        margin-top: 0;
    }

    main .cv-row-right p {
        padding-left: 20px;
    }

    main .cv-row-right hr {
        margin-left: 20px;
    }

    /* FOOTER */

    footer {
        width: 90%;
    }

}

/* LARGE (JUST FOR TESTING - TO BE FIXED) */

@media only screen and (min-width: 1200px) {

    header {
        width: 60%;
    }

    main {
        width: 60%;
    }

    footer {
        width: 60%;
    }

}